@font-face {
    font-family: 'Poppins Regular';
    src: url(../Fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Poppins Black';
    src: url(../Fonts/Poppins-Black.ttf);
}
@font-face {
    font-family: 'Poppins Medium';
    src: url(../Fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'Poppins Bold';
    src: url(../Fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'Poppins SemiBold';
    src: url(../Fonts/Poppins-SemiBold.ttf);
}