@import 'fonts.css';

body {
    font-family: 'Poppins Regular';
    color: #616368;
    font-size: 16px;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

/* Шапка */
.menu-bar {
    padding: 20px 0;
    background: white;
}
.menu__item {
    margin-left: 35px;
}
.menu__item a {
    text-decoration: none;
    color: #242f51;
}
.btn {
    background: #2500f9;
    padding: 15px 35px;
    font-family: 'Poppins Bold';
    color: white;
    border-radius: 28px;
    border: none;
    text-align: center;
}
.btn:hover {
    color: white;
}
/* Шапка титульник */
.header {
    background-image: url(../img/headerback.png);
    background-repeat: repeat-x;
    background-position: bottom;
}
.header__suptitle {
    margin-top: 200px;
    font-size: 18px;
    background-color: #e2eaed;
    border-radius: 17.5px;
    max-width: 340px;
    color: #242f51;
}
.header__suptitle i {
    font-size: 27px;
    color: #feaa25;
    margin-right: 10px;
}
.header__title {
    color: #242f51;
    font-size: 60px;
    font-family: 'Poppins SemiBold';
}
.header__subtitle {
    font-size: 18px;
    color: #616368;
}
.header__subbtn {
    font-size: 16px;
    color: #2500f9;
}
.header__subbtn a {
    margin-left: 30px;
}
/* apps */
.apps__suptitle {
    padding-bottom: 40px;
    padding-top: 115px;
    color: #242f51;
    font-size: 16px;
    margin: 0 auto;
}
.apps__img img{
    padding: 0 35px;
}
/* features */
.features__awesome {
    margin-top: 150px;
    background: url(../img/BackgroundFu.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
    transition: .5s;
}
.features__awesome:hover {
    content: url(../img/Phone2.png);
}
.features__title {
    margin-top: 200px;
    font-size: 36px;
    color: #242f51;
    font-family: 'Poppins SemiBold';
}
.features__img {
    margin-top: 70px;
}
.features__title1 {
    margin-top: 60px;
    font-size: 20px;
    color: #f55767;
    font-family: 'Poppins SemiBold';
    width: 100%;
}
.features__text1 {
    font-size: 16px;
    color: #616368;
    width: 100%;
}
.features__title2 {
    margin-top: 60px;
    font-size: 20px;
    color: #2563ff;
    font-family: 'Poppins SemiBold';
    width: 100%;
}
.features__title3 {
    margin-top: 60px;
    font-size: 20px;
    color: #40975f;
    font-family: 'Poppins SemiBold';
    width: 100%;
}
/* smart */
.smart {
    margin-top: 100px;
}
.smart__title {
    font-size: 36px;
    color: #242f51;
    font-family: 'Poppins SemiBold';
}
.smart__content {
    margin-top: 115px;
}

.smart__content img {
    margin-bottom: 30px;
}
.smart__text {
    font-size: 16px;
    color: #616368;
}
.smart__title1 {
    font-size: 20px;
    color: #f55767;
    font-family: 'Poppins SemiBold';
    width: 100%;
}
.smart__text {
    font-size: 16px;
    color: #616368;
    width: 100%;
}
.smart__title2 {
    font-size: 20px;
    color: #2563ff;
    font-family: 'Poppins SemiBold';
    width: 100%;
}
.smart__title3 {
    font-size: 20px;
    color: #40975f;
    font-family: 'Poppins SemiBold';
    width: 100%;
}
/* designed */
.designed {
    margin-top: 100px;
}
.designed__content {
    margin-left: 115px;
}
.designed p {
    padding: 30px 0 30px;
}
/* why */
.why {
    margin-top: 200px;
}
.why h5 {
    margin-bottom: 40px;
}
.why p {
    margin-bottom: 80px;
}
.why__title {
    font-size: 20px;
    color: #242f51;
    font-family: 'Poppins SemiBold';
}